h1 {
	font-family: Arial;
	color: white;
	font-size: 50px;
}

/*Header*/
header {
	background-color: #262626 !important;
	color: white !important;
	width: 100%;
	text-align: center;
	height: 230px;
	position: fixed;		
	margin-top: -230px;
}

.btn-primary{
	width: 20vw; 
	margin-left: 10px;
	margin-right: 10px; 
	color: white;
	background-color: #262626;
	border: 1px solid white;
	transition: background-color 1s;
}

/*Adjusts header for smaller browser sizes*/
@media(max-width: 700px){
    .btn-primary {
		margin: auto;
        display: block;
		width: 300px;
    }
	header {
		height: 270px;
		margin-top: -270px;
	}
	h2 {
		font-size: 20px !important;
	}
}

.btn-primary:hover{
	border: 1px solid white;
	background-color: white; 
	color: #ff003d;
}

.btn-primary:active{
	border: 1px solid white !important;
	background-color: white !important; 
	color: #ff003d !important;
}

.btn-primary:focus{
	color: white;
	background-color: #262626;
	border: 1px solid white;
}

/*Projects*/

.pro-1 {
	margin-top: 230px;
	/*Postioning*/
	width: 102.25%;
	height: 400px;
	margin-left: -8px;
	/*Background*/
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url("jgoerugd_y4-john-towner.jpg");
}

.pro-1>h2 {
	margin-top: 0px;
	color: white;
	text-align: center;
	font-size: 25px;
	background-color: rgba(0,0,0,.2);
	padding-top: 10px;
	height: 50px;
}

.pro-2 {
	/*Postioning*/
	width: 102.25%;
	height: 400px;
	margin-left: -8px;
	/*Background*/
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url("zr-xfz3av44-samuel-zeller.jpg");
}

.pro-2>h2{
	margin-top: 0px;
	color: white;
	text-align: center;
	font-size: 25px;
	background-color: rgba(0,0,0,.2);
	padding-top: 10px;
	height: 50px;
}

.pro-3 {
	/*Postioning*/
	width: 102.25%;
	height: 400px;
	margin-left: -8px;
	/*Background*/
	background-position: 50% 70%;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url("d7cnjoley4y-blair-fraser.jpg");
}

.pro-3>h2{
	margin-top: 0px;
	color: white;
	text-align: center;
	font-size: 25px;
	background-color: rgba(0,0,0,.2);
	padding-top: 10px;
	height: 50px;
}

.pro-4 {
	/*Postioning*/
	width: 102.25%;
	height: 400px;
	margin-left: -8px;
	/*Background*/
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url("aaz4fsrgzme-nathan-anderson.jpg");
}

.pro-4>h2{
	margin-top: 0px;
	color: white;
	text-align: center;
	font-size: 25px;
	background-color: rgba(0,0,0,.2);
	padding-top: 10px;
	height: 50px;
}

/*footer*/

.f-btn {
	margin-left: 10px;
	display: inline-block;
	padding: 5px 25px;
	border: 1px solid #ff003d;
}

.f-btn:hover{
	background-color: #ff003d;
}

.footer {
	clear: both;
	background-color: #262626;
	width: 102.25%;
	height: 130px;
}

.footer>h3 {
	color: white;
	font-size: 30px;
	text-align: center;
}

.btn-nav {
	text-align:center;
}

.btn-nav>a{
	color: lightgrey;
	margin-top: 10px;
	margin-left: 20px;
	margin-right: 20px;
	font-size: 36px;
	transition: color 1s;
}

.btn-nav>a:hover {
	color: #ff003d;
	text-decoration: none;
}

.btn-nav>a:focus {
	text-decoration: none;
}

/*Adjusts footer for smaller browser sizes*/
@media(max-width: 700px){
    .footer>h3 {
		font-size: 25px;
    }
	.btn-nav>a{
		font-size: 30px;
	}
}
